#VideoBackgroundHeader {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      }

p {
      overflow: hidden;
}

.fade-in-header-m-text {
      animation: fadeIn1 4s 0s forwards steps(60, end);
}

.fade-in-header-s-text {
      animation: fadeIn2 4s 2s forwards steps(60, end);
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

.fadeInAnimated {
  opacity: 0;
  animation: fadeIn 4s forwards; /* forwards (animation-fill-mode) retains the style from the last keyframe when the animation ends */
}

#second {
  animation-delay: 1s;
}

#third {
  animation-delay: 1s;
}
